flows.json
[{"id":"16d1d67330af9c65","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"d0e122f3377b48a8","type":"switch","z":"16d1d67330af9c65","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":520,"wires":[["0d5a59ded95f08cc","435dc6fab785b250"],["bf9c10b566facc0b"]]},{"id":"fa5a5a1a53d711fd","type":"telegram receiver","z":"16d1d67330af9c65","name":"","bot":"2094c670ebf7e21b","saveDataDir":"","filterCommands":false,"x":150,"y":520,"wires":[["da7523c4de2eba87","d0e122f3377b48a8"],[]]},{"id":"1de14bfbf69d4ec0","type":"debug","z":"16d1d67330af9c65","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1960,"y":100,"wires":[]},{"id":"349e19c380ff4d44","type":"telegram sender","z":"16d1d67330af9c65","name":"","bot":"2094c670ebf7e21b","haserroroutput":false,"outputs":1,"x":2870,"y":140,"wires":[[]]},{"id":"10d8676c81258ea5","type":"watson-assistant-v2","z":"16d1d67330af9c65","name":"AgroVida","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/a9b07a01-0399-4f87-92a5-a8392a6e1d7f","assistant_id":"c2358851-1b52-493c-8b3d-af61997e3a9b","debug":false,"restart":false,"return_context":false,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":1960,"y":140,"wires":[["9221e85c44e4ab3a","81411d3a3b82d7b9"]]},{"id":"9221e85c44e4ab3a","type":"debug","z":"16d1d67330af9c65","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2140,"y":100,"wires":[]},{"id":"81411d3a3b82d7b9","type":"change","z":"16d1d67330af9c65","name":"","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.output.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2140,"y":140,"wires":[["3e4c731e0a05fd36","97f5ffcd8c8347de"]]},{"id":"3e4c731e0a05fd36","type":"debug","z":"16d1d67330af9c65","name":"debug 33","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2320,"y":100,"wires":[]},{"id":"97f5ffcd8c8347de","type":"function","z":"16d1d67330af9c65","name":"ProcIN TTS","func":"msg.params = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":140,"wires":[["8a3d78bdbfa5c981","170424c9c5370f17"]]},{"id":"8a3d78bdbfa5c981","type":"watson-text-to-speech","z":"16d1d67330af9c65","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"2gHs-BNBIR2G3XhRT3MPMEkWfhgXXKkaXRBoMgiCkgB3","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/024d064f-fa9f-40f2-8eae-960aee020e7c","x":2490,"y":140,"wires":[["d096e2fb96e0d7d1"]]},{"id":"d096e2fb96e0d7d1","type":"function","z":"16d1d67330af9c65","name":"ProcOUT TSS","func":"msg.payload = {\n    chatId: msg.params,\n    content: msg.payload,\n    type: 'voice'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2660,"y":140,"wires":[["5e4bfc899023a080","349e19c380ff4d44"]]},{"id":"170424c9c5370f17","type":"debug","z":"16d1d67330af9c65","name":"debug 34","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2500,"y":100,"wires":[]},{"id":"5e4bfc899023a080","type":"debug","z":"16d1d67330af9c65","name":"debug 35","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2840,"y":100,"wires":[]},{"id":"28a99ce051efad1c","type":"telegram sender","z":"16d1d67330af9c65","name":"","bot":"2094c670ebf7e21b","haserroroutput":false,"outputs":1,"x":2530,"y":860,"wires":[[]]},{"id":"573b5abc2f0aadf4","type":"watson-assistant-v2","z":"16d1d67330af9c65","name":"AgroVida","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/a9b07a01-0399-4f87-92a5-a8392a6e1d7f","assistant_id":"c2358851-1b52-493c-8b3d-af61997e3a9b","debug":false,"restart":false,"return_context":false,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":1460,"y":860,"wires":[["a0f1d123cb1fb840","7ec4998a25442b83"]]},{"id":"a0f1d123cb1fb840","type":"debug","z":"16d1d67330af9c65","name":"debug 36","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1620,"y":920,"wires":[]},{"id":"dab51127dd7711cd","type":"change","z":"16d1d67330af9c65","name":"Prepara entrada","rules":[{"t":"set","p":"payload.session_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":860,"wires":[["573b5abc2f0aadf4"]]},{"id":"7ec4998a25442b83","type":"change","z":"16d1d67330af9c65","name":"","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.output.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":860,"wires":[["2ea3ce6fd4f5f4ae","063c12e76499b39c"]]},{"id":"2ea3ce6fd4f5f4ae","type":"debug","z":"16d1d67330af9c65","name":"debug 37","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1840,"y":920,"wires":[]},{"id":"da7523c4de2eba87","type":"debug","z":"16d1d67330af9c65","name":"debug 38","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":460,"wires":[]},{"id":"02d947b36e129965","type":"debug","z":"16d1d67330af9c65","name":"debug 39","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":300,"wires":[]},{"id":"195562616a294fd7","type":"change","z":"16d1d67330af9c65","name":"Prepara entrada","rules":[{"t":"set","p":"payload.session_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":140,"wires":[["1de14bfbf69d4ec0","10d8676c81258ea5"]]},{"id":"bf9c10b566facc0b","type":"watson-language-translator-identify","z":"16d1d67330af9c65","name":"","service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e08505c7-a8ab-4a3a-9239-c492e6da9bc0","x":550,"y":800,"wires":[["ad8a63327112d123","5005a578c9d9bf7c"]]},{"id":"5005a578c9d9bf7c","type":"switch","z":"16d1d67330af9c65","name":"","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"pt","vt":"str"},{"t":"eq","v":"en","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":800,"wires":[["c71a5c9c88595dbc","600e87245928f9de"],["952aa5ecf5d72774","2f793d2b243f9580"]]},{"id":"ad8a63327112d123","type":"debug","z":"16d1d67330af9c65","name":"debug 41","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"lang","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":760,"wires":[]},{"id":"c71a5c9c88595dbc","type":"debug","z":"16d1d67330af9c65","name":"debug 42","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":720,"wires":[]},{"id":"952aa5ecf5d72774","type":"debug","z":"16d1d67330af9c65","name":"debug 43","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":920,"wires":[]},{"id":"639963b3c56928b5","type":"watson-translator","z":"16d1d67330af9c65","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"pt","apikey":"TAVZu48JkzSIQVUAboHd86CXVuLUeEV9J6yS5IHSncSj","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e08505c7-a8ab-4a3a-9239-c492e6da9bc0","x":1090,"y":860,"wires":[["dab51127dd7711cd"]]},{"id":"ddadc6844d4a1f99","type":"watson-translator","z":"16d1d67330af9c65","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","apikey":"TAVZu48JkzSIQVUAboHd86CXVuLUeEV9J6yS5IHSncSj","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e08505c7-a8ab-4a3a-9239-c492e6da9bc0","x":2090,"y":860,"wires":[["bd1fea1e47282cfd"]]},{"id":"4809dc01941ed765","type":"debug","z":"16d1d67330af9c65","name":"debug 46","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1260,"y":920,"wires":[]},{"id":"38688bfcfb8e342e","type":"telegram sender","z":"16d1d67330af9c65","name":"","bot":"2094c670ebf7e21b","haserroroutput":false,"outputs":1,"x":1630,"y":760,"wires":[[]]},{"id":"46ecf0b101f6a83e","type":"watson-assistant-v2","z":"16d1d67330af9c65","name":"AgroVida","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/a9b07a01-0399-4f87-92a5-a8392a6e1d7f","assistant_id":"c2358851-1b52-493c-8b3d-af61997e3a9b","debug":false,"restart":false,"return_context":false,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":1160,"y":760,"wires":[["609e36dc52424304","a8b9fcaa988bd877"]]},{"id":"609e36dc52424304","type":"debug","z":"16d1d67330af9c65","name":"debug 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":720,"wires":[]},{"id":"600e87245928f9de","type":"change","z":"16d1d67330af9c65","name":"Prepara entrada","rules":[{"t":"set","p":"payload.session_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":760,"wires":[["46ecf0b101f6a83e","c9a2a6f94f4fb283"]]},{"id":"a8b9fcaa988bd877","type":"change","z":"16d1d67330af9c65","name":"","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.output.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":760,"wires":[["8f3ef8efe06c9afc","38688bfcfb8e342e"]]},{"id":"8f3ef8efe06c9afc","type":"debug","z":"16d1d67330af9c65","name":"debug 51","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1600,"y":720,"wires":[]},{"id":"c9a2a6f94f4fb283","type":"debug","z":"16d1d67330af9c65","name":"debug 52","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":720,"wires":[]},{"id":"0d5a59ded95f08cc","type":"debug","z":"16d1d67330af9c65","name":"debug 53","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":40,"wires":[]},{"id":"435dc6fab785b250","type":"watson-language-translator-identify","z":"16d1d67330af9c65","name":"","service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e08505c7-a8ab-4a3a-9239-c492e6da9bc0","x":610,"y":160,"wires":[["1a6e2561e7942373","0ca805f28b71aa4b"]]},{"id":"0ca805f28b71aa4b","type":"switch","z":"16d1d67330af9c65","name":"","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"pt","vt":"str"},{"t":"eq","v":"en","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":160,"wires":[["6f289de1b2a614e2","d34f6a99226e0491"],["02d947b36e129965","4b394d1df837f276"]]},{"id":"1a6e2561e7942373","type":"debug","z":"16d1d67330af9c65","name":"debug 54","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"lang","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":40,"wires":[]},{"id":"6f289de1b2a614e2","type":"debug","z":"16d1d67330af9c65","name":"debug 55","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":60,"wires":[]},{"id":"495d5601b3be4aa7","type":"debug","z":"16d1d67330af9c65","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1800,"y":320,"wires":[]},{"id":"244ab2947483cf6f","type":"debug","z":"16d1d67330af9c65","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2020,"y":320,"wires":[]},{"id":"32424aa0697fd0ae","type":"telegram sender","z":"16d1d67330af9c65","name":"","bot":"2094c670ebf7e21b","haserroroutput":false,"outputs":1,"x":3330,"y":260,"wires":[[]]},{"id":"cc32c2326d04d939","type":"watson-assistant-v2","z":"16d1d67330af9c65","name":"AgroVida","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/a9b07a01-0399-4f87-92a5-a8392a6e1d7f","assistant_id":"c2358851-1b52-493c-8b3d-af61997e3a9b","debug":false,"restart":false,"return_context":false,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":2020,"y":260,"wires":[["87762a96a685094c","e619b8c6dd0b869d"]]},{"id":"87762a96a685094c","type":"debug","z":"16d1d67330af9c65","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2180,"y":320,"wires":[]},{"id":"e619b8c6dd0b869d","type":"change","z":"16d1d67330af9c65","name":"","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.output.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":260,"wires":[["178228d33603aa1c","1978b315b961a1ec"]]},{"id":"178228d33603aa1c","type":"debug","z":"16d1d67330af9c65","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2380,"y":320,"wires":[]},{"id":"21b7f592f277c795","type":"function","z":"16d1d67330af9c65","name":"ProcIN TTS","func":"msg.payload = msg.payload.output.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2690,"y":340,"wires":[["30496241afeb7061"]]},{"id":"8f3035982c35ae72","type":"watson-text-to-speech","z":"16d1d67330af9c65","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"2gHs-BNBIR2G3XhRT3MPMEkWfhgXXKkaXRBoMgiCkgB3","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/024d064f-fa9f-40f2-8eae-960aee020e7c","x":2890,"y":260,"wires":[["e1ea1fc796bdb9c7"]]},{"id":"e1ea1fc796bdb9c7","type":"function","z":"16d1d67330af9c65","name":"ProcOUT TSS","func":"msg.payload = {\n    chatId: msg.params.session_id,\n    content: msg.payload,\n    type: 'voice'\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3100,"y":260,"wires":[["5635ccf5120e05f8","32424aa0697fd0ae"]]},{"id":"30496241afeb7061","type":"debug","z":"16d1d67330af9c65","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2860,"y":320,"wires":[]},{"id":"5635ccf5120e05f8","type":"debug","z":"16d1d67330af9c65","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3060,"y":320,"wires":[]},{"id":"d0bfe01cca8d9c95","type":"change","z":"16d1d67330af9c65","name":"Prepara entrada","rules":[{"t":"set","p":"payload.session_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":260,"wires":[["244ab2947483cf6f","cc32c2326d04d939"]]},{"id":"7928fa31b12b2709","type":"watson-translator","z":"16d1d67330af9c65","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"pt","apikey":"TAVZu48JkzSIQVUAboHd86CXVuLUeEV9J6yS5IHSncSj","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e08505c7-a8ab-4a3a-9239-c492e6da9bc0","x":1430,"y":260,"wires":[["53735f6725b7ec33"]]},{"id":"0c3613687f9ac0fe","type":"watson-translator","z":"16d1d67330af9c65","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","apikey":"TAVZu48JkzSIQVUAboHd86CXVuLUeEV9J6yS5IHSncSj","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e08505c7-a8ab-4a3a-9239-c492e6da9bc0","x":2550,"y":260,"wires":[["8f3035982c35ae72"]]},{"id":"2f793d2b243f9580","type":"function","z":"16d1d67330af9c65","name":"","func":"msg.params = {};\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":860,"wires":[["639963b3c56928b5"]]},{"id":"d34f6a99226e0491","type":"function","z":"16d1d67330af9c65","name":"ProcIN STT","func":"msg.params = {};\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;\n\n\n//msg.params = msg.payload.chatId;\n//msg.payload = msg.payload.weblink;\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":140,"wires":[["8921fe3f325c9696","4eb191c90f56bdf4"]]},{"id":"8921fe3f325c9696","type":"watson-speech-to-text","z":"16d1d67330af9c65","name":"Watson STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"8yjGTkd8dYYsWdqVvHfqy6QCiAwJGok00Ql397ILil6Z","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/d32eab13-4bce-4e92-bd9f-344ae27f4fbe","x":1390,"y":140,"wires":[["4160a4befa23346e"]]},{"id":"4160a4befa23346e","type":"function","z":"16d1d67330af9c65","name":"ProcOUT STT","func":"msg.payload = {\n    chatId: msg.params.session_id,\n    content: msg.payload,\n    type: 'message'\n};\nreturn msg;\n\n\n\n/*msg.payload = {\n    chatId : msg.params,\n    content : msg.payload,\n    type: 'message'\n}\nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":140,"wires":[["5779d9c80e079f9b","195562616a294fd7"]]},{"id":"4eb191c90f56bdf4","type":"debug","z":"16d1d67330af9c65","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":40,"wires":[]},{"id":"5779d9c80e079f9b","type":"debug","z":"16d1d67330af9c65","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1760,"y":100,"wires":[]},{"id":"4b394d1df837f276","type":"function","z":"16d1d67330af9c65","name":"ProcIN STT","func":"msg.params = {};\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":260,"wires":[["e295f11ab20848bf","8f38084a822b1374"]]},{"id":"e295f11ab20848bf","type":"watson-speech-to-text","z":"16d1d67330af9c65","name":"Watson STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"8yjGTkd8dYYsWdqVvHfqy6QCiAwJGok00Ql397ILil6Z","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/d32eab13-4bce-4e92-bd9f-344ae27f4fbe","x":1250,"y":260,"wires":[["7928fa31b12b2709","14a507de898d587c"]]},{"id":"53735f6725b7ec33","type":"function","z":"16d1d67330af9c65","name":"ProcOUT STT","func":"msg.payload = {\n    chatId: msg.params.session_id,\n    content: msg.payload,\n    type: 'message'\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":260,"wires":[["d0bfe01cca8d9c95"]]},{"id":"8f38084a822b1374","type":"debug","z":"16d1d67330af9c65","name":"debug 201","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":300,"wires":[]},{"id":"14a507de898d587c","type":"debug","z":"16d1d67330af9c65","name":"debug 212","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":320,"wires":[]},{"id":"1978b315b961a1ec","type":"function","z":"16d1d67330af9c65","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":260,"wires":[["0c3613687f9ac0fe"]]},{"id":"bd1fea1e47282cfd","type":"function","z":"16d1d67330af9c65","name":"","func":"msg.payload = {\n    chatId: msg.params.session_id,\n    type: 'message',\n    content: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":860,"wires":[["28a99ce051efad1c"]]},{"id":"063c12e76499b39c","type":"function","z":"16d1d67330af9c65","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":860,"wires":[["ddadc6844d4a1f99"]]},{"id":"2094c670ebf7e21b","type":"telegram bot","botname":"AgroVida","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]